.header {
  position: relative;
  height: 100vh;
  font-family: 'Lato', sans-serif; }
  .header__text-box {
    position: absolute;
    top: 25%;
    left: 15%;
    background: linear-gradient(to right, rbga(white, 1), black); }

.projects {
  background: linear-gradient(to right bottom, #07203f, #050f1c);
  position: relative;
  height: 100vh; }

.row {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: inherit;
  grid-gap: 0; }

.col-1-of-2 {
  height: 50rem;
  width: 40rem;
  position: relative;
  display: flex;
  flex-direction: column; }

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif; }
  .header__navbar-ul {
    list-style: none;
    display: flex; }
    .header__navbar-ul a {
      padding: 1.2rem;
      color: aliceblue;
      letter-spacing: .30rem;
      font-size: 1.6rem;
      transition: all .2s; }
      .header__navbar-ul a:hover {
        color: cyan; }

.header__logo {
  margin: 0 0 0 .45em; }
  .header__logo a {
    text-decoration: none;
    letter-spacing: .45rem;
    color: cyan;
    font-size: 1.6rem; }

.header__socialmediaicons {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%); }
  .header__socialmediaicons a {
    display: block;
    text-align: center;
    padding: 1.6rem;
    transition: all .3s ease-in; }

.header__line {
  border-left: 2px solid #a8b2d1;
  position: fixed;
  height: 12rem;
  margin-left: 2.3rem;
  margin-top: 3rem; }

@media (max-width: 767px) {
  .header {
    display: none; } }

.fab {
  color: #a8b2d1;
  transition: all .1s ease-in; }
  .fab:hover {
    color: #19f6e8;
    transform: translateY(-3px); }

.fas {
  color: #a8b2d1;
  transition: all .1s ease-in; }
  .fas:hover {
    color: #19f6e8;
    transform: translateY(-3px); }

.fa-facebook {
  font-size: 2.3rem; }

.fa-github {
  font-size: 2.3rem; }

.fa-linkedin {
  font-size: 2.3rem; }

.fa-instagram {
  font-size: 2.3rem; }

.fa-envelope {
  font-size: 2.3rem; }

html {
  overflow-x: hidden !important; }

a,
a:hover {
  text-decoration: none; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.bg {
  background-color: #0a192f; }

.projects-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px; }
  @media screen and (max-width: 1300px) {
    .projects-slider {
      max-width: 1000px; } }
  @media screen and (max-width: 576px) {
    .projects-slider {
      margin-top: 45px; } }
  .projects-slider__wrp {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2; }
  .projects-slider__item {
    width: 400px;
    flex-shrink: 0; }
    @media screen and (max-width: 992px) {
      .projects-slider__item {
        width: 340px; } }
    .projects-slider__item.swiper-slide {
      opacity: 0;
      pointer-events: none;
      transition: all .3s; }
    .projects-slider__item.swiper-slide-active, .projects-slider__item.swiper-slide-prev, .projects-slider__item.swiper-slide-next {
      opacity: 1;
      pointer-events: auto; }
  .projects-slider__ctr {
    position: relative;
    z-index: 12; }
  .projects-slider__arrow {
    background: #fff;
    border: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 12;
    cursor: pointer;
    outline: none !important; }
    .projects-slider__arrow:focus {
      outline: none !important; }
    .projects-slider__arrow .icon-font {
      display: inline-flex; }
    .projects-slider__arrow.projects-slider-prev {
      left: 15px;
      transform: translateY(-50%); }
    .projects-slider__arrow.projects-slider-next {
      right: 15px;
      transform: translateY(-50%); }
  .projects-slider__pagination {
    text-align: center;
    margin-top: 50px; }
    .projects-slider__pagination .swiper-pagination-bullet {
      width: 13px;
      height: 10px;
      display: inline-block;
      background: #fff;
      opacity: .2;
      margin: 0 5px;
      border-radius: 20px;
      transition: opacity .5s, background-color .5s, width .5s;
      transition-delay: .5s, .5s, 0s; }
    .projects-slider__pagination .swiper-pagination-bullet-active {
      opacity: 1;
      background: #ffffff;
      width: 100px;
      transition-delay: 0s; }
      @media screen and (max-width: 576px) {
        .projects-slider__pagination .swiper-pagination-bullet-active {
          width: 70px; } }

.projects__item {
  padding: 40px;
  color: #fff;
  border-radius: 2px;
  display: block;
  transition: all .3s; }
  @media screen and (min-width: 800px) {
    .projects__item {
      height: 60rem; }
      .projects__item:hover {
        color: #ffffff;
        transition-delay: .1s; }
        .projects__item:hover .projects-date,
        .projects__item:hover .projects__title,
        .projects__item:hover .projects__txt {
          opacity: 1;
          transition-delay: .1s; } }
  @media screen and (max-width: 800px) {
    .projects__item {
      height: 50rem; } }
  .projects__item.active {
    color: #ffffff; }
    .projects__item.active .projects-date,
    .projects__item.active .projects__title,
    .projects__item.active .projects__txt {
      opacity: 1; }
    .projects__item.active .projects__img {
      box-shadow: none; }
  @media screen and (max-width: 992px) {
    .projects__item {
      padding: 30px; } }
  @media screen and (max-width: 576px) {
    .projects__item {
      padding: 20px; } }

.projects-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: .7;
  transition: opacity .3s; }
  @media screen and (max-width: 576px) {
    .projects-header {
      margin-bottom: 10px;
      display: inline-flex;
      align-items: center;
      padding-bottom: 0; } }
  .projects-header__title {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 500; }
    @media screen and (max-width: 576px) {
      .projects-header__title {
        margin-right: 10px; } }
  .projects-header__txt {
    font-size: 16px; }

.projects__title {
  font-size: 25px;
  font-weight: 500;
  opacity: .7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity .3s; }
  @media screen and (max-width: 576px) {
    .projects__title {
      font-size: 22px;
      margin-bottom: 10px; } }

.projects__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: .7;
  transition: opacity .3s; }

.section-about {
  max-width: 100rem;
  margin: 0 auto;
  display: grid; }
  .section-about-textbox-about {
    padding-bottom: 20rem; }
  .section-about-textbox-experience {
    justify-self: right;
    padding-bottom: 5rem; }
  .section-about-heading {
    padding-bottom: 2rem; }

.section-projects {
  max-width: 100rem;
  margin: 0 auto; }

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes mainFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0; }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px; }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px; }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px; }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px; } }

@keyframes secFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px; }
  100% {
    opacity: 1;
    bottom: 0px; } }

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg); }
  100% {
    opacity: 1;
    bottom: 0px; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: aliceblue; }
  .heading-primary--main {
    display: block;
    font-size: 2.3rem;
    font-weight: 400;
    color: #19f6e8; }
  .heading-primary--sub-1 {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    opacity: 0.9; }
  .heading-primary--sub-2 {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    opacity: 0.8; }

li a {
  color: aliceblue;
  text-decoration: none; }

.name {
  color: #19f6e8; }

.section-about-heading-1 {
  color: aliceblue;
  font-size: 3.3rem;
  opacity: .8;
  margin-bottom: 2rem; }
  .section-about-heading-1:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    width: 20%;
    /* This creates some space between the element and the border. */
    border-bottom: 1px solid grey; }

.section-about-heading-2 {
  color: aliceblue;
  font-size: 3.3rem;
  opacity: .8;
  margin-bottom: 2rem; }
  .section-about-heading-2:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    width: 40%;
    /* This creates some space between the element and the border. */
    border-bottom: 1px solid grey; }

.section-about-sub-heading-1 {
  color: aliceblue;
  font-size: 2rem;
  opacity: .9; }

.section-about-sub-heading {
  color: #19f6e8;
  font-size: 3rem;
  opacity: .8; }

.section-projects-heading {
  color: aliceblue;
  opacity: .8;
  font-size: 3.3rem; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden !important; }

body {
  box-sizing: border-box;
  background-color: #000000; }
