//Social Media Button Size

$icon-font-size: 2.3rem;
$icon-color: #a8b2d1;
$icon-hover-color: #19f6e8;

//CSS Grid Properties

$gutter-vertical: 6rem;
$gutter-horizontal: 2rem;
$grid-width: 114rem;

//Color
$primary-text-color: #19f6e8;