.section-contact-me {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;


    &-title {
        color: $primary-text-color;
        opacity: .9;
        font-size: 3.3rem;
    }

    &-header {
        align-items: center;
        text-align: center;
        color: aliceblue;
        font-size: 5.3rem;
        opacity: .8;
    }

    &-button {}
}