.header {
    position: relative;
    height: 100vh;
    font-family: 'Lato', sans-serif;

    &__text-box {
        position: absolute;
        top: 25%;
        left: 15%;
        background: linear-gradient(to right, rbga(white, 1), rgba(black, 1));
    }
}