body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  padding: 3rem;
}

.heading-primary {
  color: aliceblue;

  &--main {
    display: block;
    font-size: 2.3rem;
    font-weight: 400;
    color: #19f6e8;
  }

  &--sub-1 {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    opacity: 0.9;
  }

  &--sub-2 {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    opacity: 0.8;
  }
}

li a {
  color: aliceblue;
  text-decoration: none;
}

.name {
  color: $primary-text-color;
}

.section-about {

  &-heading {
    &-1 {
      color: aliceblue;
      font-size: 3.3rem;
      opacity: .8;
      margin-bottom: 2rem;

      &:after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */

        width: 20%;
        /* This creates some space between the element and the border. */
        border-bottom: 1px solid grey;
      }
    }

    &-2 {
      color: aliceblue;
      font-size: 3.3rem;
      opacity: .8;
      margin-bottom: 2rem;

      &:after {
        content: "";
        /* This is necessary for the pseudo element to work. */
        display: block;
        /* This will put the pseudo element on its own line. */

        width: 40%;

        /* This creates some space between the element and the border. */
        border-bottom: 1px solid grey;
      }
    }
  }

  &-sub-heading-1 {
    color: aliceblue;
    font-size: 2rem;
    opacity: .9;
  }

  &-sub-heading {
    color: $primary-text-color;
    font-size: 3rem;
    opacity: .8;
  }
}

.section-projects {

  &-heading {
    color: aliceblue;
    opacity: .8;
    font-size: 3.3rem;
  }

}