.section-about {
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    //flex-direction: column;
    //justify-content: center;


    &-textbox {
        &-about {
            padding-bottom: 20rem;
        }

        &-experience {
            justify-self: right;
            padding-bottom: 5rem;
        }
    }

    &-heading {
        padding-bottom: 2rem;
    }
}

.section-projects {
    max-width: 100rem;
    margin: 0 auto;
}